<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="test.RestA"/>
      <class name="test.Datadriven"/>
      <class name="test.Get_request_authorization"/>
      <class name="test.Post_apitesting"/>
      <class name="test.GetallHeader"/>
      <class name="test.Validatingjson_responce"/>
      <class name="test.Get_extractvalueofeachnodeinjson"/>
 
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
